$backgroundColor: rgb(27, 27, 27);
$shadowColor: rgba(0, 0, 0, 0.7);
$hourAndMinute: white;
$second: rgb(224, 3, 3);
$centerOfClock: rgb(204, 4, 4);

@mixin centerBYUSingPosition() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin ceterForClockLines(){
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
}

.outerRadius {
    z-index: 0;
    @include centerBYUSingPosition();
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 10px 10px 30px 3px $shadowColor;
    background-color: rgb(29, 29, 29);
    position: fixed;

    .innerRadius {
        @include centerBYUSingPosition();
        width: 380px;
        height: 380px;
        background-color: $backgroundColor;
        border-radius: 50%;
        box-shadow: inset 10px 10px 30px 3px $shadowColor;
       z-index:10;
        #hour,
        #minute,
        #second {
            @include ceterForClockLines();
            
        }
    }
}
#minute {
  
    width: 150px;
    height: 8px;
    background-color: $hourAndMinute;
    z-index:30;
    
}
#second{
    background-color: $second;
    width: 180px;
    height: 3px;
    z-index:40;
   
  
}
#hour{
    background-color: $hourAndMinute;
    border-radius: 0px 0px 0px 0px ;
    width: 100px;
    height: 10px;
    z-index:20;
 
}
.center{
    @include centerBYUSingPosition();
    transform: translate(-50%, -25%)!important;
    background-color:$centerOfClock ;
    width:20px;
    height:20px;
    border-radius:50%;
    z-index:50;
}
.time{
    width:8px;
    height:27px;
    background-color: white;
    position: absolute;
    z-index: 15;
}
#top{
    top:1px;
    left:50%;
    border-radius: 2px 2px 0px 0px;
}
#bottom{
    bottom:1px;
    left:50%;
    border-radius: 0px 0px 2px 2px;
}
#left{
    top:50%;
    left:11px;
    transform: rotate(90deg);
}
#right{
    top:50%;
    right:11px;
    transform:rotate(90deg);
}
.scrollBar{
    background-color: white;
    width:0.6em;
    height:80vh;
    position: fixed;
    top:10%;
    right:4%;
    border-radius: 10px;
    
    .scrollThumb{
        position:relative;
        width:100%;
        animation: glow 1s linear infinite;
        
        background-color: red;
        border-radius: 10px;
        top:0;
        left:0;
        
      &::before{
          content:"";
          top:0;
          left:0;
          position: absolute;
          height:100%;
          width:100%;
         
          box-shadow: 3px 0px 25px 0px red;
          border-radius: 10px;

      }
    }
}
@keyframes glow{
    0%{
        filter:hue-rotate(0deg);
    }
    100%{
        filter:hue-rotate(360deg);
    }
}
::-webkit-scrollbar{
    width:0px;
}